<html>
<table>
			<tr>
				<th></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
			<tr>
				<th scope="row">&ensp;&ensp;&ensp;<li>
                      <a>Homepage</a>
                    </li>
                    &ensp;&ensp;&ensp;
                   <li>
                       <a href="books.html" >Books</a>
                   </li>
                   &ensp;&ensp;&ensp;
                   <li>
                       <a href="contact.html" >Contact Us</a>
                   </li>
                   &ensp;&ensp;&ensp;
                   <li>
                       <a href="survey.html" >Survey</a>
                   </li>&ensp;&ensp;&ensp;&ensp;
				<td><h1></b> Check out our amazing Books </b></h1>
        <p>&ensp;&ensp;&ensp;&ensp;<a href="book1.html" > <img src="apple book.png" width="300" height="200"  />Apple Book</p>
        </a>
        <hr />
        <p>&ensp;&ensp;&ensp;&ensp;<a href="book2.html"> <img src="orangebook.png" alt="orangebook" width="300" height="200" text-align="left" />Orange Book</p>
        </a>
        <hr />
        <p>&ensp;&ensp;&ensp;&ensp;<a href="book3.html"><img src="yellow.png" alt="yellow" width="300" height="200" text-align="left" />Yellow Book</p>
        </a>
        <hr /></td>
			</tr>

		</table>
<html>
