<html>
    <table>
        <tr>
            <th></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        <tr>
            <th scope="row">&ensp;&ensp;&ensp;<li>
                  <a>Homepage</a>
                </li>
                &ensp;&ensp;&ensp;
               <li>
                   <a href="books.html" >Books</a>
               </li>
               &ensp;&ensp;&ensp;
               <li>
                   <a href="contact.html" >Contact Us</a>
               </li>
               &ensp;&ensp;&ensp;
               <li>
                   <a href="survey.html" >Survey</a>
               </li>&ensp;&ensp;&ensp;&ensp;
            <td><h1></b>  
                <p> 
                <img src="orangebook.png" alt="apple"  width="600" height="500"style="float:left"; ></p></td>
            <td><h3>Orange book, Author: Ayesha, Publisher: Ayesha</h3></td>
               
            </b> </h>
    
        </tr>

    </table>

</html>