<html>
    <table>
        <tr>
            <th></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        <tr>
            <th scope="row">&ensp;&ensp;&ensp;<li>
                  <a>Homepage</a>
                </li>
                &ensp;&ensp;&ensp;
               <li>
                   <a href="books.html" >Books</a>
               </li>
               &ensp;&ensp;&ensp;
            <td><h1></b> &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; Welcome to the Mobasery library, Click the Navigation Links </b></h1>
            </td>
            </tr>

    </table>

<html>
   