<html>
    <html>
        <table>
                 <tr>
                     <th></th>
                     <th scope="col"></th>
                     <th scope="col"></th>
                 </tr>
                 <tr>
                     <th scope="row">&ensp;&ensp;&ensp;<li>
                           <a>Homepage</a>
                         </li>
                         &ensp;&ensp;&ensp;
                        <li>
                            <a href="books.html" >Books</a>
                        </li>
                        &ensp;&ensp;&ensp;
                        <li>
                            <a href="contact.html" >Contact Us</a>
                        </li>
                        &ensp;&ensp;&ensp;
                        <li>
                            <a href="survey.html" >Survey</a>
                        </li></th>&ensp;&ensp;&ensp;
                     <td> <h1>Welcome to the Survey page</h1>
          <form> 
              <p> &ensp;&ensp;&ensp;Name
             <input type="text" size="15" maxlength="30" />
             </p>  
             <p> &ensp;&ensp;&ensp;DOB
                 <input type="date" size="15"/>
             </p>
             <p> &ensp;&ensp;&ensp;How likely is it that you recommend this to your friends
                 <input type="radio" name="very likely" value="very likely" /> very likely
                 <input type="radio" name="somewhat likely" value="somewhat likely" /> somewhat likely
                 <input type="radio" name="not likely" value="not likey"  /> not likely
             </p>
                  &ensp;&ensp;&ensp;<input type= "submit" name="submit">
              </p>
             
         </form></td>
                 </tr>
     
             </table>
     </html>


</html>